RewriteEngine On
RewriteCond %{REQUEST_URI} ^/system.*
RewriteRule ^(.*)$ index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
#AuthType Basic
#AuthName "Input your ID and Password."
#AuthUserFile /var/www/apps/musashi/.htpassword
#require valid-user


#RewriteEngine On
#RewriteCond %{REQUEST_URI} ^/system.*
#RewriteRule ^(.*)$ index.php?/$1 [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.+)$ index.php?/$1 [L]
#AuthType Basic
#AuthName "Input your ID and Password."
#AuthUserFile /var/www/apps/musashi/.htpassword
#require valid-user

