
@font-face{
  font-family: 'DINNextLTPro-Medium';
  src: url('../font/DINNextLTPro-Medium.woff') format('woff');
}

@font-face{
  font-family: 'DINNextLTPro-Regular';
  src: url('../font/DINNextLTPro-Regular.woff') format('woff');
}


/* header */

*{
  font-family: 'Noto Sans JP';
}

html{
  scroll-behavior: smooth;
}

#header{
  display: flex;
}

.logo{
  width: 250px;
  padding: 2% 2% 0 2%;
  margin-bottom: 2%;
}

.logo img{
  width: 100%;
}

.header_menu{
  display: flex;
  margin: 45px 0 0 auto;
  position: relative;
}

.span_now{
  color: #E3675F;
  display: inline-block;
  border-bottom: 4px solid #E3675F;
  width: 80%;
}

.sp_header_menu{
  display: none;
}

.menu-nav {
 width: 100%;
 height: 100%;
 background: rgba(255,255,255, 0.9);
 z-index: 9999;
 position: fixed;
 opacity: 1.2;
 display: none;
 padding-top: 60%;
}

.nav-item{
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 500;
}

.nav-item a{
  color: #E3675F;
}


.header_menu ul{
  display: flex;
}

.menu_normal{
  width: 70px;
  font-size: 14px;
  letter-spacing: 1.2px;
  text-align: center;
}

.menu_normal a{
  text-align: center;
}

.menu_inquiry a{
  background: #E3675F;
  color: #F9F9F9;
  border-radius: 4px;
  font-size: 14px;
  padding:10px 18px 10px 18px;
  font-weight: bold;
  margin: 0 15px;
}

.inquiry-wrap{
  padding-bottom: 1%;
}

.inquiry{
  background: #E3675F;
  padding: 10px 15px;
  width: 140px;
  color: #F9F9F9;
  margin-top: 20%;
  margin-left: 15px;
  border-radius: 4px;
}

#top-mv{
  background: url(../../static/images/patrick-perkins-23.png) center center no-repeat;
  background-size: cover;
  height: 550px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

#top-mv::before{
  content: '';
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mv-tx{
  position: absolute;
}

#top-mv .mv-tx h2{
  font-size: 40px;
  letter-spacing: 0.3em;
  line-height: 2.2em;
  color: #F9F9F9;
}


#top-mv .mv-tx h3{
  font-size: 16px;
  letter-spacing: 3px;
  color: #F9F9F9;
  text-align: center;
}

#content01{
  padding: 10% 0;
}

.content-tx{
  width: 60%;
  margin: 0 auto;
}

.content-title{
}

.content-title h2{
  font-size: 26px;
  line-height: 1.2em;
  letter-spacing: 0.2em;
  text-align: center;
}

.bed{
  width: 100px;
  margin:6% auto;
}

.bed img{
  width: 100%;
}

.content-lead-tx{

}

.content-lead-tx p{
  text-align: center;
  line-height: 1.6em;
  font-size: 14px;
  letter-spacing: 0.1em;
}

#content02{
  padding: 5% 15%;
  background-color: rgba(220,220,220, 0.2);
}

.content02-tx{
  width: 40%;
  margin: 0 auto;
}

.content02-title{
  margin-bottom: 10%;
}

.content02-title p{
  color: #E3675F;
  text-align: center;
  line-height: 5em;
  font-family: 'DINNextLTPro-Medium';
  letter-spacing: 0.1em;
  font-size: 16px;
}

.content02-title h2{
  text-align: center;
  font-size: 26px;
  letter-spacing: 0.1em;
}

.content02-flex{
  display: flex;
  width: 99.9%;
  margin: 0 auto 12% auto;
  align-items: center;
}

.flex-title{
  display: flex;
}

.title-num{
  color: #E3675F;
  font-size: 80px;
}

.content02-title{

}

.content-flex-lead-tx{
  margin-top: 7%;
}

.content-flex-lead-tx p{
  word-break: break-all;
  line-height: 1.6em;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.title-tx{
  padding: 10px 0;
}

.title-tx2{
  margin-top: 4%;
  margin-left: 7%;
}

.title-tx p{
  font-size: 12px;
}


.title-tx2 p{
  font-size: 12px;
}

.title-tx h4{
  font-size: 22px;
  line-height: 2em;
}


.title-tx2 h4{
  font-size: 22px;
  line-height: 2em;
}

.content-flex-img{
  width: 320px;
  margin: 2% auto;
}

.content-flex-img img{
  width: 100%;
}

.content-flex-img2{
  width: 250px;
  margin: 2% auto;
}

.content-flex-img2 img{
  width: 100%;
  text-align: center;
}

.content02-inquiry{
  width: 70%;
  margin:10% auto;
}

.content02-inquiry p{
  text-align: center;
}

.inquiry-tx{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 5em;
}

.content02-inquiry-button{
  background: #E3675F;
  padding: 3.3% 6%;
  text-align: center;
 width: 60%;
  margin: 0 auto;
  letter-spacing: 0.1em;
  color: #F9F9F9;
  border-radius: 3px;
  font-weight: bold;
}


#content03{
  padding: 5% 15%;
}

.content03-title{
  display: flex;
  width: 400px;
  margin: 0 auto;
}

.content03-title2{
  display: flex;
  width: 265px;
  margin: 0 auto;
}

.content03-title3{
  display: flex;
  width: 235px;
  margin: 0 auto;
}
.content03-title img{
  width: 30px;
  margin: 0 auto;
}


.content03-title2 img{
  width: 30px;
  margin: 0 auto;
}


.content03-title3 img{
  width: 30px;
  margin: 0 auto;
}

.content03-title p{
  padding-top: 1%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2em;
}

.content03-title2 p{
  padding-top: 1%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2em;
}

.content03-title3 p{
  padding-top: 1%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2em;
}
.content03-img{
  width: 100px;
  margin:7% auto;
}

.content03-img img{
  width: 100%;
}

.content03-tx{
  width: 99%;
  margin: 0 auto;
}

.content03-tx p{
  text-align: center;
  font-size: 12px;
  letter-spacing:1.2px;
  line-height: 1.5em;
  margin-bottom: 10%;
}

#content04{
  padding: 5% 15%;
  background-color: rgba(220,220,220, 0.2);
}

.case-slider{
  display: flex;
}

.case{
  width: 30%;
  margin: 0 1%;
}

.case-img{
  width: 100%;
}

.case-img img{
  width: 100%;
}

.case-title{
  line-height: 1.5em;
  font-size: 14px;
  font-weight: bold;
  margin: 7% 0;
}


.case-title p{

}

.case-detail-top{
  display: flex;
  font-size: 12px;
}

.case-detail-top .benefit{
   margin-left: 6%;
}

.seeCase {
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #1D1916;
  padding: 8% 10%;
  text-align: center;
  border-radius: 3px;
  width: 90%;
  margin: 10% auto 0 auto;
}

.seeAlltop{
  border: 1px solid #E3675F;
  color: #E3675F;
  width: 40%;
  padding: 3% 6%;
  border-radius: 3px;
  margin: 10% auto 5% auto;;
}

.seeAlltop{
  text-align: center;
}

.seeAlltop a p{
  text-align: center;
  color: #E3675F;
}



.prev-allow{
    left: 80px;
}
.next-allow{
    right: 80px;
}

/* About */

.about-title{
  margin: 5% 0 5% 0;
}

.about-title p{
  color: #1D1916;
  text-align: center;
  line-height: 2.5em;
  font-family: 'DINNextLTPro-Regular';
  letter-spacing: 0.1em;
  font-size: 16px;
}

.people-title{
  color: #1D1916;
  text-align: center;
  line-height: 2.5em;
  font-family: 'DINNextLTPro-Regular';
  letter-spacing: 0.1em;
  font-size: 16px;
}

.about-title h2{
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.1em;
}

#about-mv{
  background: url(../../static/images/sven-brandsma-GZ5cKOgeIB0-unsplash.png) center center no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-mv::before{
  content: '';
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.about-mv-tx{
    position: absolute;
    width: 60%;
    margin:0 auto;
    color: #F9F9F9;
}

.about-mv-tx h2{
  font-size: 30px;
  font-family: 'DINNextLTPro-Regular';
  text-align: center;
  margin-bottom: 10%;
  margin-top: -20%;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

.about-mv-tx p{
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #F9F9F9;
  text-align: center;
  line-height: 2.3em;
  font-family: 'Noto Sans JP';
}

#company-intro{

}

#company-intro table{
  width: 40%;
  margin:5% auto;
  letter-spacing: 1.5px;
}

#company-intro td{
  padding: 0.8rem 1rem;
  font-size: 14px;
  font-family: 'Noto Sans JP';
  line-height: 1.3em
}

#company-intro .td-left{
  margin: 10% 2%;
  text-align: right;
  font-weight: 500;

}

#company-intro .td-right{
  margin: 10% 2%;
  text-align: left;
  font-weight: 350;
}

#people{
  background-color: rgba(220,220,220, 0.2);
  padding: 0 10% 1% 10%;
}

.people-title-wrap{
  margin: 5% 0 0 0;
}

.people-title{
  color: #1D1916;
  text-align: center;
  line-height: 2.5em;
  font-family: 'DINNextLTPro-Regular';
  letter-spacing: 0.1em;
  font-size: 30px;
  padding: 5% 0;
}

.people-content-wrap{
  width: 75%;
  margin: 0 auto;
}

.people-content{
  display: flex;
  margin-bottom: 10%;
  align-items: center;
}

.people-content-img{
  width: 25%;
  margin:0 1%;
}

.people-content-img img{
  border-radius: 9em;
  width: 100%;
}

.people-content-tx{
  margin:0 1%;
  width: 99.9%;
}

.people-content-name-1{
  display: flex;
  align-items: flex-end;
  margin-bottom: 3%;
  font-family: 'Noto Sans japanese';
}

.people-content-name-1 .official{
  font-weight: 550;
  font-size: 12px;
  letter-spacing: 0.2em;
}

.people-content-name-2 .official2{
  font-weight: 550;
  font-size: 12px;
  letter-spacing: 0.2em;
  line-height: 2.5em;
}

.name{
  font-weight: bold;
  font-weight: 550;
  letter-spacing: 0.2em;
}

.people-content-name-1 .name{
  margin: 0 2%;
}

.people-content-name-2{
  margin-bottom: 3%;
  font-family: 'Noto Sans japanese';
}

.people-content-tx-intro{
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 18px;
  font-weight: 350;
}

/* roomIndex */

#room-index{
  padding:0 10%;
}

.room-index-flex{
  display: flex;
  margin-bottom: 7%;

}

.room-content{
  margin:0 2%;
}

.room-content-img{
  width: 100%;
}

.room-content-img img{
  width: 100%;
  text-align: center;
}

.room-content-tx{
  margin-top: 5%;
}

.place{
  line-height: 2em;
  letter-spacing: 0.2em;
  font-family: 'Noto Sans japanese';
  font-weight: 400;
  font-size: 18px;
}

.date{
  font-size: 14px;
  font-weight: 100;
}

.back-top{
  width: 50px;
  margin: 10% 0 0 auto;
}

.back-top img{
  width: 100%;
}

/* roomDetail  */

#detail-mv{
  background: url(../../static/images/patrick-perkins-23.png) center center no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  padding:0 15%;
}

#detail-mv::before{
  content: '';
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.detail-mv-tx{
  position: absolute;
  color: #F9F9F9;
}

.detail-mv-tx h3{
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 2.1em;
}

.detail-mv-tx p{
  font-size: 16px;
  font-weight: 350;
  letter-spacing: 0.1em;
}

#roomDetailcontent{
  padding:0 18%;
}

.roomDetailcontent-tx{
  border-bottom: 1px solid #1D1916;
  padding: 5% 0 2% 0;
  letter-spacing: 0.2em;
  font-size: 14px;
  font-weight: 300;
}

.roomDetailcontent-img{
  margin-top: 5%;
  width: 100%;
}

.roomDetailcontent-img img{
  width: 100%;
}

.detailArrows{
  display: flex;
  margin: 5% 0;
}

.detailArrows img{
  width: 10px;
  height: 15px;
  margin-top: 10%;
}

.detail-prev{
  display: flex;
  margin:0 auto 0 0;
}

.detail-prev p{
  text-align: right;
  line-height: 1.6em;

}

.detail-next p{
  text-align: left;
  line-height: 1.6em;
}

.detail-next{
  display: flex;
  margin: 0 0 0 auto;
}

.detailArrows span{
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.1em
}

.detail-prev span{
  text-align: right;
}

.detail-next span{
  text-align: left;
}

#roomDetailinquiry{
  margin-top: 5%;
  background-color: rgba(220,220,220, 0.2);
}

.detail-inquiry-tx{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 1.5em;
}

.line{
  margin-top: 5%;
}

.forDetail{
  padding: 5% 0;
}

#MenuBtn{
  cursor: pointer;
}

/* fee  */

#feeContent{
  padding: 0 15%;
}

.feeContent01{
  margin: 10% 0;
}

.feeContent01-title{

}

.feeContent01-title p{
  letter-spacing: 0.1em;
  font-size: 20px;
  margin-bottom: 3%;
}

.feeContent01-title p span{
  color: #E3675F;
}

.feeContent-img{
  width: 100%;
  margin: 0 auto;
}

.feeContent-img img{
  width: 100%;
}

.feeContentdetail{

}

.feeContentdetail P{
  font-size:14px;
  margin: 5% 0;
}

.detailTable-flex{
  display: table;
}

.table01{
  display: table-cell;
}

.table01 table{
  table-layout: fixed;
}

.table-item{
  background: #1D1916;
  color: #F9F9F9;
  font-size: 14px;
  table-layout: fixed;
}

.table-item-value{
  font-size: 14px;
  table-layout: fixed;
}

.feeContentdetail table tr{
  width: 50%
}

.feeContentdetail table tr td{
  border: 1px solid black;
  text-align: center;
}

.feePrice{
  width: 100%;
  background-color: rgba(220,220,220, 0.2);
  padding: 5% 15%;
  margin: 5% 0;
}

.feePrice .price-lead{
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 2em;
}

.price-flex{
  display: flex;
  margin: 0 auto;
  width: 48%;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.average{
  border: 1px solid #1D1916;
  font-size: 12px;
  padding: 2% 3%;
  font-weight: 350;
  margin: 0 auto;
}

.price{
  text-align: center;
  font-size: 44px;
  font-family:'DINNextLTPro-Regular';
  margin: 0 auto;
}

.price span{
  font-size: 12px;
  font-weight:  350;
  font-family:'Noto Sans JP';
}

.result{
  padding: 0 10%;
}

.result .result-title{
  text-align: center;
  margin-bottom: 10%;
}

.result-flex{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 12%;
}

.value-item{
  margin-top: 20%;
  font-weight: 450;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-align: center;
}

.value-numeric{
  font-size: 50px;
  font-family: 'DINNextLTPro-Regular';
  color: #E3675F;
  line-height: 2em;
  text-align: center;
}

.value{
  margin: 0 auto;
}

.value-img{
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

.value-img img{
  width: 100%;
}

/* footer  */

.footer{
  margin-top: 7%;
}

.footer-logo{
  width: 220px;
  margin: 0 auto;
}

.footer-logo img{
  width: 100%;
}

.footer-menu{
  width: 60%;
  margin: 4% auto 6% auto;
}

.footer-menu ul{
  display: flex;
}

.footer-menu ul li{
  margin:0 auto;
}

.footer-copyright{
  width: 95%;
  margin:0 auto;
  border-top: 1px solid #1D1916;
  padding: 3% 0;
}

.footer-copyright p{
  font-size: 12px;
  text-align: center;
}

.pc_display_none{
  display: none;
}
