font-face{
  font-family: 'DINNextLTPro-Medium';
  src: uri('../font/DINNextLTPro-Medium.woff') format('woff');
}

@font-face{
  font-family: 'DINNextLTPro-Regular';
  src: uri('../font/DINNextLTPro-Regular.woff') format('woff');
}

@media screen and (max-width:900px){

  .wrapper{
    overflow: hidden;
  }

  .header_menu{
    display: none;
  }


  .menu {
    position: fixed;
    bottom: 93%;
    right: 30px;
    cursor: pointer;
    z-index: 10000;
   }


   .sp_header_menu{
     display: block;
   }

   .menu-line {
    width: 25px;
    margin: 0 auto 8px;
    background: #1D1916;
    height: 1px;
    display: block;
    transition: all 0.3s ease;

   }

  .active span:nth-of-type(1){
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }

  .active span:nth-of-type(2) {
     opacity: 0;
  }

  .active span:nth-of-type(3) {
    -webkit-transform: translateY(-14px) rotate(-45deg);
    transform: translateY(-14px) rotate(-45deg);
  }

  .logo{
    width: 200px;
  }

  .flow_content_proceess{
    display: block;
  }

}



@media only screen and (max-width:500px){

  #top-mv{
    height: 300px;
  }

  #top-mv .mv-tx h2{
    font-size: 22px;
  }

  #top-mv .mv-tx h3{
    font-size: 12px;
  }

  .content-title h2{
    font-size: 18px;
  }

  .sp_display_none{
    display: none;
  }

  .pc_display_none{
    display: block;
  }

  .content-tx{
    width: 80%;
  }

  .content-lead-tx {
    font-size: 10px;
  }

  .content02-title p{
    font-size: 14px;
  }

  .content02-title h2{
    font-size: 20px;
  }

  .content02-flex{
    display: block;
    margin-bottom: 25%;
  }

  #content02{
    padding: 5% 5%;
  }

  .content02-tx{
    width: 90%;
  }

  .flex-title{
    justify-content: center;
    width: 90%;
    margin:0 auto;
  }

  .title-num{
    font-size: 60px;
    margin: 0 auto;
  }

  .title-tx{
    margin: 0 auto;
  }

  .content-flex-img, .content-flex-img2{
    margin: 10% auto;
  }

  .sp_flex_title{
    width: 50%;
  }

  .content02-inquiry{
    width:100%;
    line-height: 2em;
  }

  .content02-inquiry p{
    width:100%;
    line-height: 2em;
    font-size: 16px;
    margin-bottom: 10%;
  }

  .content02-inquiry-button{
    width: 60%;
  }

  .content-flex-lead-tx p{
    font-size: 12px;
  }

  #content03{
    padding: 5% 5%;
  }

  .content03-title{
    width: 80%;
  }

  .content03-title2, .content03-title3{
    margin-top: 20%;
  }



  .content03-title img{
    width: 35px;
  }

  .content03-title2 img{
    width: 35px;
  }

  .seeAlltop{
    width: 80%;
    margin: 25% auto 15% auto;
  }

  .footer-logo{
    width: 180px;
  }

  .footer-menu{
    width: 80%;
    margin: 10% auto 10% auto;
  }

  .footer-menu ul li a{
    font-size: 14px;
  }

  .footer-copyright p{
    font-size: 8px;
  }

  #about-mv{
    height: 555px;
  }

  .about-mv-tx{
    width: 95%;

  }

  .about-mv-tx p{
    line-height: 2em;
  }

  #company-intro td{
    font-size: 12px;
  }

  #company-intro table{
    width: 90%;
  }

  .people-content{
    display: block;
  }

  .people-content-wrap{
    width: 90%;
  }

  .people-content-img{
    width: 80%;
    margin: 10% auto;
  }

.people-content-tx{
  margin: 0 auto;
}

.people-content-name-1, .people-content-name-2{
  margin-bottom: 10%;
}

#room-index{
  padding: 0 5%;
}

.room-index-flex{
  display: block;
}

.room-content{
  margin: 20% auto;
}

#detail-mv{
  justify-content: center;
  height: 180px;
}

.detail-mv-tx h3{
  font-size: 30px;
}

.detail-mv-tx p{
  font-size: 14px;
}

#roomDetailcontent{
  padding:0 5%;
}

.roomDetailcontent-tx{
  font-size: 10px;
  padding: 6% 0 3% 0;
}

.detail-prev p{
  font-size: 12px;
}

.detail-next p{
  font-size: 12px;
}

.detailArrows img{
  width: 7px;
  height: 10.5px;
}

.forDetail .detail-inquiry-tx{
  font-size: 14px;
}

.content02-inquiry a .line{
  font-size: 14px;
  width: 80%;
}

#flow_content_sp{
  display: block;
}

.flow_content_proccess{
  display: block;
  padding: 7% 10% 0 10%;
  margin-bottom: 20%;
}

.span{
  font-size: 22px;
}

.span-tx-title{
  font-size: 16px;
}

.tx_lead{
  font-size: 12px;
}

.flow_content_proccess_img{
  padding: 0 25%;
  margin: initial;
  margin-top: 10%;
}

.flow_content_proccess_img img{
  text-align: center;
}

#flow_content_pc{
  display: none;
}

#feeContent{
  padding: 0 5%;
}

.feeContent01-title p{
  font-size: 14px;
}

/*.feeContentdetail P{
  font-size: 12px;
}*/

.feePrice{
  padding: 5% 5%;
}

.feePrice .price-lead{
  font-size: 14px;
}

.price-flex{
  width: 70%;
}

.average{
  font-size: 10px;
}

.result-flex{
  display: block;
}

.price{
  font-size: 30px;
}

  .sp_display_none{
    display: none;
  }

  .pc_display_none{
    display: block;
  }


}
